#title_p{
    background-color: rgb(74,197,20);
    border-radius: 12px;
    color: white;
}

body{
    background-color: rgb(59, 59, 59);
}

main{
    background-color: rgb(93, 93, 93);
    border-radius: 12px;
}

footer{
    background-color: rgb(74,197,20);
    border-radius: 12px;
}

.title{
    text-align: center;
    color: white;
}

a{
    color: rgb(255, 255, 255);
}

.color_grid{
    background-color: rgb(74,197,20);
    border-radius: 12px;
}

.file_input_label {
  padding: 8px 16px;
  background: rgb(102,237,42);
  color: white;
  cursor: pointer;
  border-radius: 121px;
}

input[type="file"] {
  display: none;
}

button {
  background-color: rgb(102,237,42);
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.barProgress {
  width: 100%;
  background-color: grey;
  border-radius: 12px;
}

#externalBar {
  width: 0%;
  height: 30px;
  background-color: green;
  border-radius: 12px;
  padding-right: 12px;
  text-align: center;
}

#internalBar {
  width: 0%;
  height: 30px;
  background-color: green;
  border-radius: 12px;
  padding-right: 12px;
  text-align: center;
}

#internalDirtyBar {
  width: 0%;
  height: 30px;
  background-color: red;
  border-radius: 12px;
  padding-right: 12px;
  text-align: center;
}